
.description {
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Acme', sans-serif;
  color: rgb(63, 7, 95);
  font-size: 30px;
}

.facts {
  width: 70%;
  margin-left: 3%;
  margin-top: 10%;
  margin-bottom: 0;
  font-family: 'Acme', sans-serif;
  color: rgb(63, 7, 95);
  font-size: 40px;
}

.text-title{
  width: 70%;
  margin-left: 3%;
  margin-top: 10%;
  margin-bottom: 0;
  font-family: 'Acme', sans-serif;
  color: rgb(63, 7, 95);
  font-size: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description p{
    text-align: center;
}

.sound-animations, .other-demos {
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;

}

.third-section {
  height: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3vh;
  margin-bottom: 5vh;
  
}

.sound-1, .sound-2, .sound-3 {
    height: 90%;
    width: 30%;
    background-color: black;
    border-radius: 40%;
    border: none;
    overflow: hidden;
}
.sound-1:hover, .sound-2:hover, .sound-3:hover {
  box-shadow: 3px 3px 10px purple;

}

 .other-demos div {
    height: 80%;
    width: 22%;
    background-color: rgb(12, 11, 12);
 }


 .footer {
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 .footer p {
  font-family: 'Acme', sans-serif;
  color: rgb(82, 9, 131);
  font-size: 25px;
  margin-left: 5%;

 }

.sound-1 section {
    color: black;

}

#content p{

    color: black;
}

.sound-1 div {
    height: 80%;
    width: 100%;
    margin: 0;
   
}

.ocean {
  color: rgba(255, 255, 255, .1);
  font-family: 'Acme', sans-serif;
  text-align: center;
  margin-top: 20%;
  text-transform: uppercase;
  font-size: 2em;
  background-image: url('../images//waves.jpg');
  background-size: 600px;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 5s linear infinite;

}

@keyframes animate {
  0% {
    background-position: left 0px top -220px;
  }
   40% {
    background-position: left 80px top -150px;
  }

   80% {
    background-position: left 800px top -100px;
  }

   100% {
    background-position: left 1000px top 0px;
  }
}



#rain {
    width: 100%;
    height: 100%;
}

/*.rain {
    background-image: url('../images/rainforest.jpg');
    background-size: 500px;


}*/

.hidden {
  display: none;
}

.rain-text {
  position: relative;
  text-transform: uppercase;
  color:plum;
  font-size: 2em;
  bottom: 80%;
  font-family: 'Acme', sans-serif;
  text-align: center;
  margin-top: 15%;

}


/*.fire-container {
  overflow: hidden;
  height: 50%;
  width: 100%;
  z-index: -2;
  margin-top: 35%;
  background-color: transparent;
  background-image: url("../images//fire.png");
  background-size: 270%;
  background-position: 80%; 
  animation-name: flameMove;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}*/


.fire {
  color: rgba(255, 255, 255, .1);
  font-family: 'Acme', sans-serif;
  text-align: center;
  margin-top: 40%;
  text-transform: uppercase;
  font-size: 30px;
  background-image: url('../images/fire.png');
  background-size: 600px;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: fiyah 5s linear infinite;

}

@keyframes fiyah {
  0% {
    background-position: left 200px top 0px;
  }
   40% {
    background-position: left 100px top -20px;
  }

   80% {
    background-position: left 50px top -50px;
  }

   90% {
    background-position: left 25px top -80px;
  }

   100% {
    background-position: left 0px top -100px;

  }
}
/* @keyframes flameMove {

  0% {
    transform: scaleY(1.2) rotate(1deg);
  }

  50% {
    transform: scaleY(1.5) rotate(-1deg);
  }

   75% {
    transform: scaleY(1.4) rotate(1deg);
  }

  100% {
    transform: scaleY(1.2) rotate(-1deg);
  }

} */

/*.fire-text {
  color: rgb(187, 169, 3);
  position: relative;
  font-size: 28px;
  text-transform: uppercase;
  z-index: 2;
  top: 20%;
  font-family: 'Acme', sans-serif;
  text-align: center;

} */


.other-3, .other-1, .other-2, .other-4 {
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 25%;
}
.other-3:hover, .other-1:hover, .other-2:hover, .other-4:hover {
  box-shadow: 3px 3px 10px purple;
}


.focus {
  animation: focus 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
  margin: auto;
  width: 75%;
  margin-top: 30%;
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 40px;
  color: plum;
}

@keyframes focus {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
   20% {
    filter: blur(8px);
    opacity: 0.3;
  }
   40% {
    filter: blur(6px);
    opacity: 0.5;
  }
   60% {
    filter: blur(4px);
    opacity: 0.7;
  }
  
   80% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.tracking {
  animation: tracking 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
  margin: auto;
  width: 75%;
  margin-top: 35%;
  text-align: center;
  font-family: 'Acme', sans-serif;
  color: plum;
  font-size: 40px;
}

@keyframes tracking {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
   80% {
    letter-spacing: normal;
    opacity: 1;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.expand {
  animation: expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
  margin: auto;
  width: 75%;
  margin-top: 30%;
  text-align: center;
  font-family: 'Acme', sans-serif;
  color: plum;
  font-size: 30px;
}

@keyframes expand {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }

  90% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.flicker {
  animation: flicker 4s linear infinite both;
  margin: auto;
  width: 75%;
  margin-top: 30%;
  text-align: center;
  font-family: 'Acme', sans-serif;
  color: plum;
  font-size: 34px;


}

@keyframes flicker {
  0% {
  opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);

  }
   0.1% {
    opacity: 0;
    text-shadow: none;
  }
  10% {
  opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.1% {
    opacity: 0;
    text-shadow: none;
  }
 
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}


.third-1, .third-2, .third-3, .third-4 {
  margin-top: 3%;
  height: 80%;
  width: 20%;
  border-radius: 25px;
  background-color: black;
}
.third-1:hover, .third-2:hover, .third-3:hover, .third-4:hover {
  box-shadow: 3px 3px 10px purple;

}



#vibrate-text {
   width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 15%;
  font-size: 30px;
}

.vibrate {
  animation: vibrate 1s linear infinite both;
  color: plum;
  text-align: center;
  font-family: 'Acme', sans-serif;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}


.bounce-top {
  animation: bounce-top 1.2s infinite;
  color: plum;
  text-align: center;
  font-family: 'Acme', sans-serif;
  
}

#bounce-top-text {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 15%;
  font-size: 30px;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
#blink-text {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 15%;
  font-size: 30px;
}
.blink {
  animation: blink 1s infinite;
   color: plum;

  text-align: center;
  font-family: 'Acme', sans-serif;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

#heartbeat-text {
   width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 15%;
  font-size: 30px;
}

.heartbeat {
  animation: heartbeat 1s ease-in-out infinite both;
   color: plum;
  text-align: center;
  font-family: 'Acme', sans-serif;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.keys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Acme', sans-serif;
  color: rgb(63, 7, 95);
  margin-bottom: 5%;
}

.keys-text {
  width: 20%;
  font-size: 30px;
}

.keys-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(244, 165, 96, 0.568);
  border: 2px solid rgb(63, 7, 95);
  border-radius: 3%;
  height: 170px;
  flex-wrap: wrap;
  width: 250px;
  margin-left: 5%;
}

.keys-chart div {
  margin-left: 14px;
}

.word {
  color: rgb(37, 35, 35);
}

.footer-list {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  font-size: 30px;
  margin-left: 5%;
}