
.description {
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Acme', sans-serif;
  color: rgb(63, 7, 95);
  font-size: 30px;
}

.facts {
  width: 70%;
  margin-left: 3%;
  margin-top: 10%;
  margin-bottom: 0;
  font-family: 'Acme', sans-serif;
  color: rgb(63, 7, 95);
  font-size: 40px;
}

.text-title{
  width: 70%;
  margin-left: 3%;
  margin-top: 10%;
  margin-bottom: 0;
  font-family: 'Acme', sans-serif;
  color: rgb(63, 7, 95);
  font-size: 40px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: scroll;
    width: 100%;
}

.description p{
    text-align: center;
}

.sound-animations {
  animation: slide-in-right 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 5vh;
}

.sound-animations2 {
  animation: slide-in-left 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 5vh;
}

.other-demos {
    animation: slide-in-right 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 5vh;
}

.other-demos2 {
    animation: slide-in-left 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 5vh;
}

.arrows {
  height: 10vw;
  width: 100%;
  text-align: center;
}

.sounds {
  height: 50vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.sounds-3 {
  height: 50vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  
}



.sounds-2 {
  height: 50vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 0;
}

.hidden {
  display: none;
}

.fa-chevron-left, .fa-chevron-right {
  align-self: center;
  font-size: 4em;
  background: none;
  outline: none;
  border: none;
  text-align: center;
  height: fit-content;
  width: fit-content;
  text-align: center;
  padding: 2%;
  color: rgb(63, 7, 95);
}


 

.third-section {
	animation: slide-in-right 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3vh;
  margin-bottom: 2vh;
  
}
.third-section2 {
	animation: slide-in-left 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3vh;
  margin-bottom: 2vh;
  
}

.sound-1, .sound-2, .sound-3 {
    height: 90%;
    width: 28%;
    background-color: black;
    border-radius: 40%;
    border: none;
    overflow: hidden;
    
}
.sound-1:hover, .sound-2:hover, .sound-3:hover {
  box-shadow: 3px 3px 10px purple;
  transition-delay: 0.2s;
}





 .footer {
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 .footer p {
  font-family: 'Acme', sans-serif;
  color: rgb(82, 9, 131);
  font-size: 25px;
  margin-left: 5%;

 }

.sound-1 section {
    color: black;

}

#content p{

    color: black;
}

.sound-1 div {
    height: 80%;
    width: 100%;
    margin: 0;
   
}

.ocean {
  color: rgba(255, 255, 255, .1);
  font-family: 'Acme', sans-serif;
  text-align: center;
  margin: auto;
  margin-top: 23%;
  width: 90%;
  text-transform: uppercase;
  font-size: 1.5em;
  background-image: url('../images//waves.jpg');
  background-size: 600px;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 5s linear infinite;

}

@keyframes animate {
  0% {
    background-position: left 0px top -220px;
  }
   40% {
    background-position: left 80px top -150px;
  }

   80% {
    background-position: left 800px top -100px;
  }

   100% {
    background-position: left 1000px top 0px;
  }
}



#rain {
    width: 100%;
    height: 100%;
}


.hidden {
  display: none;
}

.rain-text {
  position: relative;
  text-transform: uppercase;
  color:plum;
  bottom: 65%;
  font-size: 1.7em;
  font-family: 'Acme', sans-serif;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}


.fire {
  color: rgba(255, 255, 255, .1);
  font-family: 'Acme', sans-serif;
  text-align: center;
  margin-top: 30%;
  text-transform: uppercase;
  font-size: 2em;
  background-image: url('../images/fire.png');
  background-size: 600px;
  line-height: 100%;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: fiyah 5s linear infinite;

}

@keyframes fiyah {
  0% {
    background-position: left 200px top 0px;
  }
   40% {
    background-position: left 100px top -20px;
  }

   80% {
    background-position: left 50px top -50px;
  }

   90% {
    background-position: left 25px top -80px;
  }

   100% {
    background-position: left 0px top -100px;

  }
}


.other-3, .other-1, .other-2, .other-4 {
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 25%;
  background-color: black;
  height: 80%;
  width: 23%;
}
.other-3:hover, .other-1:hover, .other-2:hover, .other-4:hover {
  box-shadow: 3px 3px 10px purple;
  transition-delay: 0.2s;

}


.focus {
  animation: focus 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
  margin: auto;
  width: 75%;
  margin-top: 25%;
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 2em;
  color: plum;
}

@keyframes focus {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
   20% {
    filter: blur(8px);
    opacity: 0.3;
  }
   40% {
    filter: blur(6px);
    opacity: 0.5;
  }
   60% {
    filter: blur(4px);
    opacity: 0.7;
  }
  
   80% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.tracking {
  animation: tracking 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
  margin: auto;
  width: 75%;
  margin-top: 30%;
  text-align: center;
  font-family: 'Acme', sans-serif;
  color: plum;
  font-size: 2em;
}

@keyframes tracking {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
   80% {
    letter-spacing: normal;
    opacity: 1;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.expand {
  animation: expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
  margin: auto;
  width: 75%;
  margin-top: 25%;
  text-align: center;
  font-family: 'Acme', sans-serif;
  color: plum;
  font-size: 1.6em;
}

@keyframes expand {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }

  90% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.flicker {
  animation: flicker 4s linear infinite both;
  margin: auto;
  width: 75%;
  margin-top: 25%;
  text-align: center;
  font-family: 'Acme', sans-serif;
  color: plum;
  font-size: 2em;


}

@keyframes flicker {
  0% {
  opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);

  }
   0.1% {
    opacity: 0;
    text-shadow: none;
  }
  10% {
  opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.1% {
    opacity: 0;
    text-shadow: none;
  }
 
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}


.third-1, .third-2, .third-3, .third-4 {
  margin-top: 9%;
  height: 40%;
  width: 20%;
  border-radius: 25px;
  background-color: black;
}
.third-1:hover, .third-2:hover, .third-3:hover, .third-4:hover {
  box-shadow: 3px 3px 10px purple;
  transition-delay: 0.2s;
}



#vibrate-text {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 15%;
  font-size: 1.4em;
}

.vibrate {
  animation: vibrate 1s linear infinite both;
  color: plum;
  text-align: center;
  font-family: 'Acme', sans-serif;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}


.bounce-top {
  animation: bounce-top 1.2s infinite;
  color: plum;
  text-align: center;
  font-family: 'Acme', sans-serif;
  
}

#bounce-top-text {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 15%;
  font-size: 1.4em;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
#blink-text {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 15%;
  font-size: 1.4em;
}
.blink {
  animation: blink 1s infinite;
   color: plum;

  text-align: center;
  font-family: 'Acme', sans-serif;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

#heartbeat-text {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 15%;
  font-size: 1.4em;
}

.heartbeat {
  animation: heartbeat 1s ease-in-out infinite both;
  color: plum;
  text-align: center;
  font-family: 'Acme', sans-serif;

}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.keys {

	animation: slide-in-right .7s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Acme', sans-serif;
  color: rgb(63, 7, 95);
  height: 60vh;
  margin-bottom: 2%;
}
.keys2 {

	/*animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/
	animation: slide-in-left .7s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Acme', sans-serif;
  color: rgb(63, 7, 95);
  height: 60vh;
  margin-bottom: 2%;

}


@keyframes slide-in-right {

  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }

}

@keyframes slide-in-left {
    0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }

}


.keys-text {
  width: 20%;
  font-size: 2em;
  margin: auto;
}

.keys-chart {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(244, 165, 96, 0.568);
  border: 2px solid rgb(63, 7, 95);
  border-radius: 3%;
  height: 60%;
  flex-wrap: wrap;
  width: 30%;
  margin: auto;

}

.keys-chart div {
  margin-left: 14px;
}

.word {
  color: rgb(37, 35, 35);
}

.footer-list {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  font-size: 30px;
  margin-left: 5%;
}

.fab {
  text-align: none;
  color: rgb(63, 7, 95);
}

.fab:hover {
  color: plum;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
  cursor: pointer;
  color: plum;
}